PORT=7070
DATABASE_URL=postgresql://user:password@host:5432/postgres
MIDTRANS_IS_PRODUCTION=false
MIDTRANS_SERVER_KEY=your_midtrans_server_key
MIDTRANS_CLIENT_KEY=your_midtrans_client_key
FRONTEND_URL=http://localhost:5173
