.register-container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #04853e;
}

.register-box{
    background: rgba(255, 255, 255, 0.25);
    padding: 30px;
    width: 320px;
    border-radius: 10px;
}
