body{
    height: 100vh;
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    overflow: hidden;
}

.bg{
    background: #04853e;
    background-size: cover;
    background-position: center;
    filter: brightness(70%);
    position: fixed;
    inset: 0;
    z-index: -1;
}


.register-container{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo{
    font-size: 45px;
    font-family:'Playfair Display', serif;
    color: white;
    margin-bottom: 20px;
    text-shadow: 0 44px 10px rgba(0, 0, 0, 6);
}

.register-box{
    background: rgba(255, 255, 255, 0.25);
    padding: 30px;
    width: 320px;
    border-radius: 10px;
    backdrop-filter: blur(6px);
    border: 1px solid rgba(255, 255, 255, 0.4);
}

.btn-group{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    color-scheme: dark;
    align-items: center;
}

.name, .email, .pass {
   font-size: 14px;
    color: white;
    font-weight: bold;
}

.error{
    color: #fef8f8;
    font-weight: bold;
    margin-top: 10px;
    font-size: 14px;
}

input{
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

.btn:hover{
    background: rgba(255, 255, 255, 0.5);
}